body
  background-color COLOR_BACKGROUND
  .layout-container
    padding 25px

a
* a
ul a
li a
ul li a
ul.nice-menu-down li a
a:hover
a:visited
a:active
  color COLOR_DARK_BLACK
  text-decoration none
main a:hover
  // border-bottom 1px solid COLOR_DARK_BLACK

a:hover img
  border-bottom 0px